.hands{
 display: flex;
 justify-content: space-around;
 align-items: center;
 padding-top: 100px;
 
}



#rock-btn{
  cursor: pointer;
  background-color:#04101b;
  border-radius: 50%;
  border: 2px double #fff900;
}

#paper-btn{
  cursor: pointer;
  background-color:white;
  border-radius: 50%;
  border: 2px double #fff900;
}


#scissors-btn{
  cursor: pointer;
  background-color:#04101b;
  border-radius: 50%;
  border: 2px double #fff900;
}





#rock-btn:hover{
  cursor: pointer;
  background-color: #fff900;
  
}

#paper-btn:hover{
  background-color:#fff900;

}


#scissors-btn:hover{
  cursor: pointer;
  background-color: #fff900;
  
  
}